<p-menubar>
  <div class="p-menubar-start p-component">
    <ul role="menubar" class="p-menubar-root-list">
      <li role="none" class="p-menuitem ng-star-inserted"><a role="menuitem"
          pripple="" tabindex="0" aria-haspopup="false" aria-expanded="false"
          class="p-menuitem-link p-ripple ng-star-inserted" routerLink="/"><span
            class="p-menuitem-icon pi pi-fw pi-th-large ng-star-inserted"></span>
          <!----><span class="p-menuitem-text ng-star-inserted">Dashboard</span>
          <!---->
          <!---->
          <!----><span class="p-ink"></span>
        </a>
        <!---->
        <!---->
        <!---->
      </li>
      <li role="none" class="p-menuitem ng-star-inserted"><a role="menuitem"
          pripple="" tabindex="0" aria-haspopup="false" aria-expanded="false"
          class="p-menuitem-link p-ripple ng-star-inserted"
          routerLink="/create-message"><span
            class="p-menuitem-icon pi pi-fw pi-pencil ng-star-inserted"></span>
          <!----><span class="p-menuitem-text ng-star-inserted">Create
            message</span>
          <!---->
          <!---->
          <!----><span class="p-ink"></span>
        </a>
        <!---->
        <!---->
        <!---->
      </li>
      <li role="none" class="p-menuitem ng-star-inserted"><a role="menuitem"
          pripple="" tabindex="0" aria-haspopup="false" aria-expanded="false"
          class="p-menuitem-link p-ripple ng-star-inserted"
          routerLink="/messages"><span
            class="p-menuitem-icon pi pi-fw pi-inbox ng-star-inserted"></span>
          <!----><span class="p-menuitem-text ng-star-inserted">Messages</span>
          <!---->
          <!---->
          <!----><span class="p-ink"></span>
        </a>
        <!---->
        <!---->
        <!---->
      </li>
    </ul>
  </div>
</p-menubar>
